"*":
  "exception-reporting":
    userId: "35478c60-9fe8-4c4e-4982-36da41e5fd7d"
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
  editor:
    invisibles:
      {}
    fontSize: 15
    preferredLineLength: 100000
  "one-dark-ui":
    {}
  linter:
    lintOnChange: false
  "tree-view":
    hideIgnoredNames: true
  "linter-jshint":
    {}
